<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PromoInvite</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  </head>
  <body style="font-family: 'Roboto'; margin: 0;">
    <div style="display: flex; flex-direction: column; align-items: center; background: #171717; color: white; padding: 0.5rem 1rem 1rem 1rem;">
      <img style="margin: 1rem 0;" src="https://res.cloudinary.com/dejmvcqvh/image/upload/f_auto,q_auto/ai5emrnlxrjarqdkuqva" />
      <hr style="background-color: #808080; height: 2px; width: 100%; border: none; margin: 1rem 0;" />
      <h3 style="letter-spacing: 1.2;">МИ РАДІ, ЩО ТИ З НАМИ В VITAVIBE! 😎️</h3>
      <div style="display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 300px; text-align: center; text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.77); margin-top: 1.5rem; margin-bottom: 1rem;">
        <img style="opacity:0.85;object-fit: cover; position: absolute; left: 0; top: 0; width: 100%; height: 100%;" src="https://res.cloudinary.com/dejmvcqvh/image/upload/c_thumb,h_300,w_600,q_auto:best/dmhknqbyojwlta2ncjbg.webp" />
        <div style="border-radius: 12px;align-self: center; justify-self: center; z-index: 10; padding: 0;">
          <h4>Промокод за підписку на розсилку новин</h4>
          <h1 style="transform: scale(1.5); margin: 0; padding: 0;">-<%=percentDiscount%>%</h1>
        </div>
      </div>
      <h3><strong>ТВІЙ КОД:</strong></h3>
      <h1><strong><%=code%></strong></h1>
      <a style="margin: 20px 0; padding: 15px 0; text-align: center; text-decoration: none; background-color: #fdc20c; color: #171717; width: 100%; font-weight: bold; opacity: 0.9; display: block;" href="<%=website%>">ЗАМОВЛЯЙ ЗРУЧНО ОНЛАЙН</a>
      <ul style="list-style-type: none; background-color: rgba(241, 241, 241, 0.204); padding: 10px; border-radius: 5px;">
        <li style="padding: 0.5rem;">🔒 Цей код не сумується з іншими пропозиціями</li>
        <li style="padding: 0.5rem;">🛍️ Діє лише на товар по повній вартості</li>
        <li style="padding: 0.5rem;">⏰ Термін дії твого коду до: <strong style="transform: scale(1.3); color: #fdc20c;"><%=endDate%></strong></li>
      </ul>
    </div>
  </body>
</html>