<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Account Recovery</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #272727;">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px; margin: auto;">
  <tr>
    <td style="text-align: center; padding: 2rem; background-color: #272727; border-radius: 0.5rem; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);">
      <div style="margin-bottom: 1rem;">
        <img src='https://drive.google.com/uc?id=1aqS6JoEt8FRUeRszBziNUgzVFYxGLYja'/>
      </div>
      <h1 style="font-size: 1.25rem; font-weight: 600; color: #FFD20C; margin: 0;">Account Recovery</h1>
      <p style="font-size: 0.875rem; color: white; opacity: 0.8;">Click the link below to recover your account:</p>
      <div style="margin-top: 1rem;">
        <a href="<%= link %>" style="display: inline-block; padding: 0.5rem 1rem; color: #272727; border: 1px solid #FFD20C; background-color: rgba(255, 210, 12, 0.8); font-weight: 600; border-radius: 0.125rem; text-decoration: none; transition: background-color 0.3s, color 0.3s;">Reset password</a>
      </div>
      <footer style="margin-top: 2rem; color: white;">
        <p style="margin: 0; opacity: 0.8;">&copy; <%= new Date().getFullYear() %> All rights reserved.</p>
        <p style="margin: 0;">
          <a href="<%= website %>" style="font-size: 16px; color: #FFD20C; font-weight: bold; text-decoration: none; transition: opacity 0.3s, color 0.3s;">Vitavibe Store</a>
        </p>
      </footer>
    </td>
  </tr>
</table>
</body>
</html>